In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
pima = pd.read_csv("../dataset/1.pima.csv")

In [4]:
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
pima["Outcome"].unique()

array([1, 0], dtype=int64)

In [10]:
X_train,X_test,y_train,y_test = train_test_split(pima.drop("Outcome",axis=1),pima["Outcome"])

In [12]:
y_train

34     0
413    0
644    0
194    0
560    1
286    0
463    0
378    1
246    0
300    1
469    0
104    0
632    0
467    0
526    0
427    1
120    1
555    0
341    0
237    1
27     0
596    0
149    0
604    1
207    1
428    0
753    1
68     0
150    0
483    0
      ..
396    0
677    0
55     0
294    0
259    1
733    0
494    0
724    0
293    1
32     0
147    0
746    1
732    1
254    1
1      0
766    1
112    0
18     0
514    0
521    0
452    0
228    0
723    0
398    0
324    0
658    0
335    0
386    1
349    1
548    0
Name: Outcome, Length: 576, dtype: int64